* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(218, 218, 218);
  font-size: 14px;
  font-family: "Muli", sans-serif;
  margin: 0 0 28px 0;
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

#body {
  background: rgb(13, 65, 62);
  margin: 50px;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0 0 0;
  font-weight: 300;
  width: 100%;
  font-size: 2em;
  color: rgb(23, 53, 49);
}

.legend {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 330px;
  margin: 2.8em;
  font-size: 11px;
  color: white;
  background-color: rgba(26, 26, 26, 0.384);
  padding: 15px;
  border-radius: 6px;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: none;
  stroke: rgb(68, 199, 160);
  stroke-width: 1px;
}

.node text {
  font-size: 13px;
  font-weight: 500;
  fill: rgb(236, 236, 236);
}

path.link {
  fill: none;
  stroke: rgba(31, 175, 168, 0.19);
  stroke-width: 3px;
}

.details {
  margin: 0 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section--head {
  font-size: 1.4em;
  font-weight: 600;
  color: rgb(32, 75, 69);
}

.subsection {
  width: 380px;
  height: 100%;
  padding: 28px;
  margin: 20px;
  color: rgba(41, 41, 41, 0.61);
}

@media screen and (max-width: 992px) {
  .subsection {
    width: 100%;
  }
}

.subsection--card {
  color: rgb(20, 20, 20);
  border-radius: 6px;
  background-color: rgb(243, 243, 243);
  filter: drop-shadow(0 8px 14px rgba(83, 83, 83, 0.2));
}

p {
  margin: 10px 0 18px 0;
}

a {
  text-decoration: none;
  color: rgb(84, 180, 132);
}
